:root{
  --blue-bg: #001F3F;
  --branco: #f3f3f3;
  --amarelo: #FFA500;
  --cinza: #999999;
}

.topicos-inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10dvh;
}

.counter-topicos-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-topicos-inicio>div{
  background-color: var(--branco);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5dvh 10dvw;
}

.counter-topicos-inicio .active{
  background-color: var(--amarelo);
}

.texto-topico{
  display: grid;
  place-items: center;
  text-align: center;
  margin: 5dvh auto;
  width: 700px;
  max-width: 80dvw;
}
.texto-topico>h2{
  font-size: 1.6rem;
  color: var(--amarelo);
}
.texto-topico>p{
  color: var(--branco);
  margin-top: 5dvh;
}

.flex-botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10dvh;
}

.botao-counter{
  margin: auto 10dvw;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 50px;
  
  &:hover{
    cursor: pointer;
  }
}

.anterior{
  background-color: var(--cinza);
}

.proximo{
  background-color: var(--amarelo);
}